.vscode/settings.json
med_watcher-wsp.code-workspace
credentials_bot.txt
credentials_thelancet.txt
medwatcher-wsp.code-workspace
__pycache__/parser_lancet.cpython-38.pyc
__pycache__/config.cpython-38.pyc
__pycache__/dbworker.cpython-38.pyc
creds.py
.vscode/launch.json
__pycache__/creds.cpython-38.pyc
test.py
keyb.py
